*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.4;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 50px;
}
.main{

    border-style: double;
}
.container{
    width: 70%;
    margin: 40px auto;
    text-align: center;
    /* border: 1px solid #333; */
}
.name-logo{
    line-height:1;
    /* border: 1px solid black; */
    border-bottom: 4px solid black;
    padding: 40px 0;
    font-family:'Times New Roman', Times, serif;
}
h3{
    font-weight: lighter;
    font-size: 2em;
    letter-spacing: 9px;
}
h1{
    font-size: 4em;
    font-weight:normal;
    letter-spacing: 2px;
}
p{
    font-size: 1.4em;
}
ul{
    border-bottom: 2px solid black;
}
ul li{
    display: inline-block;
    margin: 24px 60px;
    /* border: 1px solid black; */
}
a{
    text-decoration: none;
    color: #333;
}
li.active a{
    color: #fc0404;
}
.image{
    margin-top:40px;
    /* border: 1px solid black; */
}
img{
    height: 250px;
    width:33%;
}
.specialize{
    /* border: 1px solid black; */
    margin: 40px 0 0 0;
    font-family: 'Courier New', Courier, monospace;
}